# macOS / OS noise
.DS_Store
Thumbs.db

# IDE settings
.idea/
.vscode/
*.code-workspace

# Logs & env files
*.log
.env
.env.*

# Python virtualenvs
venv/
env/

# Node artifacts
node_modules/
dist/
build/
cdk.out/

# python
src/boto3*
src/botocore*
src/pydantic*
src/**/*.dist-info/
src/**/*.egg-info/
venv/
.aws-sam/
__pycache__/
*.pyc
